<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Grupo <%= title %></h1>
    <h2>Bienvenido a la API de <%= title %></h2>
  </body>
</html>
