<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/<%- css%>' />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container shadow ">
        <header class="d-flex justify-content-center align-content-center">
            <h1 class="text-center ">
                <%= title %>
            </h1>
        </header>
    </div>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <div class="contenedor_img">
                    <img src="../img/TickIcon2.png" alt="Tick Icon" class="TickIcon">
                </div>
            </div>
            <div class="col-12">
                <h2 class="succes-text">La consulta se entregó con éxito</h2>
            </div>
            <div class="col-12">
                <div class="container_text_info">
                    <span class="text_info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi laborum sequi
                        voluptates molestias velit dolore enim eius provident, dolorem necessitatibus inventore quod
                        voluptatibus ipsam. A molestias atque expedita minus sit!</span>
                </div>
            </div>
            <div class="col-12 d-flex">
                <div class="container_span">
                    <h4 class="text-left">Publicación consultada</h4>
                    <div class="wrapperCard">
                        <figure>
                            <img src="../img/TickIcon2.png" alt="Tick Icon" class="img-fluid img_art">
                        </figure>
                    </div>
                    <div class="wrapperArtistName">
                        <div>
                            <a href="#">Nombre del arte</a>
                        </div>
                        <div>
                            <a href="#">Nombre del artista</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="container_h1">
                    <h1 class="text-center">¿Querés ver más sobre el artista?</h1>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <span class="span_info">¡Siéntete libre de seguir mirando más!</span>
                </div>
            </div>
            <div class="col-12 h-50">
                <div class="container_btn d-flex justify-content-center">
                    <div class="">
                        <a href="#" class="btn btn-info">Mira más</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="primary-footer">
            <ul>
                <li>About</li>
                <li>Features</li>
                <li>Pricing</li>
                <li>Careers</li>
                <li>Help</li>
                <li>Privacy Policy</li>
            </ul>
            </ul>
            <hr />
        </div>
        <div class="secondary-footer">
            <h2 class="copy-right"> © No Country</h2>
            <ul class="list_redes">
                <li>
                    <img class="icon_redes" src="../img/instagram.svg" alt="instagram" />
                </li>
                <li>
                    <img class="icon_redes" src="../img/twitter.svg" alt="twitter" />
                </li>
                <li>
                    <img class="icon_redes" src="../img/basket.svg" alt="basketball" />
                </li>
                <li>
                    <img class="icon_redes" src="../img/youtube.svg" alt="youtube" />
                </li>
            </ul>
        </div>
    </footer>

</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</html>